/* custom CSS properties */

:root {
	--padding-section: 94px;

	--accent-color: #2196f3;

	--bg-white-color: #ffffff;
	--bg-white-transparent-color: rgba(255, 255, 255, 0.1);
	--bg-light-gray-color: #f5f4fa;
	--bg-dark-gray-color: #c4c4c4;
	--bg-black-color: #2f303a;
	--bg-black-transparent-color: rgba(47, 48, 58, 0.4);

	--border-color: #eeeeee;

	--font-bold-color: #212121;
	--font-primary-color: #757575;
	--font-inversed-color: #ffffff;
	--font-trasnparent-color: rgba(255, 255, 255, 0.6);
}

/* utilities */

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.no-margin {
	margin-top: 0;
	margin-bottom: 0;
}

img {
	display: block;
	max-width: 100%;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

/* typographical preset */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--font-bold-color);
}

/* inheritance preset */

*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: var(--bg-white-color);
	color: var(--font-primary-color);
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}

footer {
	background-color: var(--bg-black-color);
	color: var(--font-inversed-color);
}

/* container geometry */

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding: 0 15px;
}

/* logo */

.logo {
	margin-right: 93px;

	color: var(--font-bold-color);
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
}

.logo-accent {
	color: var(--accent-color);
}

/* header */

.page-header {
	padding-top: 24px;
	padding-bottom: 25px;

	border-bottom: 1px solid var(--border-color);
}

.page-header .container {
	display: flex;
	align-items: center;
}

.site-nav {
	display: flex;
	align-items: center;
}

.site-nav-list {
	display: flex;
	margin-top: 0;
}

.header-contacts-list {
	display: flex;
	margin-top: 0;
	margin-left: auto;
}

.header-contacts-list .link {
	display: flex;
	gap: 10px;
	fill: var(--font-primary-color);
}

.header-contacts-list .icon {
	height: 16px;
	width: 16px;
}

.header-contacts-list .link:hover,
.header-contacts-list .link:focus {
	fill: var(--accent-color);
}

.page-header .logo {
	color: var(--font-bold-color);
}

.page-header .link:hover,
.page-header .link:focus {
	color: var(--accent-color);
}

.page-header .link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.site-nav-list > .item + .item,
.header-contacts-list > .item + .item {
	margin-left: 50px;
}

.header-contacts-list .link {
	color: var(--font-primary-color);
}

.site-nav .link {
	color: var(--font-bold-color);
}

.site-nav .link.current {
	color: var(--accent-color);
}

/* footer */

.footer {
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer .container {
	display: flex;
	gap: 70px;
}

.footer .logo {
	color: var(--font-inversed-color);
}

.address {
	margin-top: 20px;
}

.building-address {
	margin-top: 0;
}

.footer-contact {
	display: block;

	font-style: normal;
}

.footer-contact:not(:last-child) {
	margin-bottom: 9px;
}

.footer-contact.link {
	color: var(--font-trasnparent-color);
	text-decoration: none;
}

.social-contacts-title {
	color: var(--font-inversed-color);
	text-transform: uppercase;
	margin-bottom: 20px;
}

.social-contacts-list {
	display: flex;
	gap: 10px;
}

.social-contacts-list .link {
	display: block;
	height: 44px;
	width: 44px;
	padding: 12px;
	border-radius: 50%;
	fill: var(--font-inversed-color);
	background-color: var(--bg-white-transparent-color);
}

.social-contacts-list .link:focus,
.social-contacts-list .link:hover {
	background-color: var(--accent-color);
}

.social-contacts-list .icon {
	height: 20px;
	width: 20px;
}

/* buttons */

.btn {
	display: inline-block;
	border: 0;
	border-radius: 4px;

	cursor: pointer;

	font-family: inherit;
	text-align: center;
}
