/* sections common */

.section-title {
	margin-top: 0;
	margin-bottom: 50px;

	color: var(--font-bold-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
}

/* hero section */

.hero {
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 200px;
	padding-bottom: 200px;

	background-color: var(--bg-dark-gray-color);
	background-image: linear-gradient(to right, var(--bg-black-transparent-color), var(--bg-black-transparent-color)),
		url("../images/hero-bg.jpg");
	background-position: center;
	text-align: center;
}

.hero-title {
	margin-top: 0;
	margin-bottom: 30px;

	color: var(--font-inversed-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

/* job features block */

.features-and-job {
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
}

.features-list,
.job-list {
	display: flex;
	gap: 30px;
}

.features-list > .item {
	flex-basis: calc(100% / 4);
}

.job-list > .item {
	flex-basis: calc(100% / 3);
}

/* features section */

.features {
	margin-bottom: var(--padding-section);
}

.features-heading {
	margin-top: 0;
	margin-bottom: 10px;

	color: var(--font-bold-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
}

.features-list .icon-container {
	height: 120px;
	width: 100%;
	padding: 25px 0;
	margin-bottom: 30px;

	background-color: var(--bg-light-gray-color);
	text-align: center;
}

.features-list .icon {
	height: 70px;
	width: 70px;
}

/* team section */

.team {
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);

	background-color: var(--bg-light-gray-color);
}

.team-list {
	display: flex;
	gap: 30px;
}

.team-list > .item {
	flex-basis: calc(100% / 4);

	background-color: var(--bg-white-color);
	box-shadow: var(--primary-shadow);
}

.member-info {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.member-name {
	margin-top: 0;
	margin-bottom: 10px;

	color: var(--font-bold-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
}

.member-role {
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 16px;
}

.member-contacts {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.member-contacts .link {
	display: block;
	height: 44px;
	width: 44px;
	padding: 12px;
	border-radius: 50%;
	fill: var(--font-primary-color);
}

.member-contacts .link:focus,
.member-contacts .link:hover {
	background-color: var(--accent-color);
	fill: var(--font-inversed-color);
}

.member-contacts .icon {
	height: 20px;
	width: 20px;
}

/* clients section */

.clients {
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
}

.clients-list {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.clients-list > .item {
	height: 92px;
	flex-basis: calc(100% / 6);
	padding: 16px 0;

	text-align: center;
	fill: var(--font-primary-color);
	border: 1px solid var(--font-primary-color);
	border-radius: 4px;
}

.clients-list > .item:hover,
.clients-list > .item:focus {
	fill: var(--accent-color);
	border-color: var(--accent-color);
}

.clients-list .icon {
	height: 60px;
	width: 106px;
}

/* button */

.btn {
	padding: 10px 32px;
	min-width: 200px;

	color: var(--font-inversed-color);
	background-color: var(--accent-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
}

.btn:hover,
.btn:focus {
	color: var(--font-bold-color);
	background-color: var(--bg-light-gray-color);
}
