/* custom CSS properties */

:root {
	/* content table columns */
	--table-cols: 3;
}

/* portfolio content */

.content {
	padding-top: var(--padding-section);
	padding-bottom: var(--padding-section);
}

.content-title {
	text-align: center;
}

.content-filter {
	margin-top: 0;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
	gap: 8px;
	text-align: center;
}

.content-filter > .item:hover,
.content-filter > .item:focus {
	box-shadow: var(--primary-shadow);
}

.content-table {
	margin-top: 0;
	display: flex;
	flex-wrap: wrap;
	gap: var(--grid-gap);
}

/*(100% - gap * (cols - 1)) / cols =
= (100% - gap * cols + gap) / cols =
= 100% / cols - gap + gap / cols =
= (100% + gap) / cols - gap */

.content-table > .item {
	flex-basis: calc((100% + var(--grid-gap)) / var(--table-cols) - var(--grid-gap));
}

.content-table > .item:hover,
.content-table > .item:focus {
	box-shadow: var(--primary-shadow);
}

.content-info {
	padding: 20px 24px;

	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
}

.content-name {
	margin-top: 0;
	margin-bottom: 4px;

	color: var(--font-bold-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.content-type {
	font-size: 16px;
	line-height: 1.9;
}

/* buttons */

.btn {
	padding: 6px 22px;

	color: var(--font-bold-color);
	background-color: var(--bg-light-gray-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
}

.btn:hover,
.btn:focus,
.btn.active {
	color: var(--font-inversed-color);
	background-color: var(--accent-color);
	box-shadow: var(--primary-shadow);
}
